/* @import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Passero+One&display=swap");

:root {
  --primary-color: #ffffff;
  --bg-color: #022135;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Bungee", sans-serif; */
  font-family: "Passero One", sans-serif;
}

body {
  font-size: 62.5%;
  background-color: var(--bg-color);
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  place-items: center;
  align-content: center;
  height: 100svh;
}

#game-logo-container {
  display: grid;
  place-items: center;
  align-content: center;
}

#hero-img {
  width: 35vw;
  transition: width 0.5s linear;
}

#logo {
  padding: 1rem;
  width: 40vw;
  transition: width 0.5s linear;
}

#welcome-text {
  display: none;
  font-size: 3rem;
  color: var(--primary-color);
}

#welcome-text span {
  color: gold;
}

#border {
  border: 1px solid;
  width: 100%;
}

#border-container {
  color: var(--primary-color);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: 80%;
}

/* game-input-container */

#name-container {
  position: relative;
  display: grid;
  place-items: center;
}

#name-input {
  display: flex;
  /* display: none; */
  width: fit-content;
  margin: 0 auto;
  /* background-color: white; */
  /* border: 1px solid transparent;
  border-radius: 10px; */
}

#name-input button {
  background-color: transparent;
  width: fit-content;
  border: none;
  cursor: pointer;
}

#name-input button:hover svg path {
  stroke: gold;
  transition: stroke 0.15s linear;
}

#game-input {
  display: none;
}

.error-msg {
  display: none;
  position: absolute;
  bottom: -30px;
  left: 80px;
  color: red;
  font-size: 1.2rem;
}

#game-btns-container {
  display: none;
  gap: 1rem;
  padding: 1rem 0;
}

li {
  list-style-type: none;
}

button {
  padding: 10px 15px;
  width: 100%;
}

.gradient-button {
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 2rem;
  background-image: linear-gradient(to bottom, #4ec8e5, #142d43);
}

input {
  border: 1px transparent;
  border-radius: 10px;
  font-size: 2rem;
  width: 100%;
  padding: 5px;
}

#game-container {
  height: 20svh;
  display: none;
  /* display: flex; */
  align-items: center;
}

#numbers-display {
  width: 4rem;
  height: 4rem;
  background-color: gold;
  display: flex;
  place-content: center;
  font-size: 3rem;
  border-radius: 5px;
}
/* -------------- */

@media screen and (max-width: 767px) {
  ol {
    flex-direction: column;
    justify-content: flex-start;
  }
}
