/* @import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Passero+One&display=swap");

:root {
  --primary-color: #ffffff;
  --bg-color: #022135;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Passero One", sans-serif;
  font-size: 62.5%;
  background-color: var(--bg-color);
  display: grid;
  place-items: center;
  align-content: center;
  height: 100svh;
}

#game-instructions {
  display: flex;
  color: var(--primary-color);
  z-index: 1;
}

#game-instructions ul {
  transform: translateX(-100%);
  width: 45svh;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: var(--bg-color);
  padding: 1.5rem;
  font-size: 1.2rem;
  border: 1px solid gold;
  border-radius: 10px;
  line-height: 130%;
  transition: transform 0.5s ease-in-out;
}

#game-instructions .show {
  transform: translateX(20%);
  transition: transform 0.5s ease-in-out;
}

#game-instructions button {
  position: absolute;
  top: 2px;
  left: 0;
  width: min-content;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1.5rem;
  border-radius: 0 10px 10px 0;
  letter-spacing: 4px;
}

#game-logo-container {
  display: grid;
  place-items: center;
  align-content: center;
}

#hero-img {
  width: 35vw;
  transition: width 0.5s linear;
}

#logo {
  padding: 1rem;
  width: 40vw;
  transition: width 0.5s linear;
}

/* Game display container */

#game-container {
  height: 20svh;
  display: none;
  align-items: center;
}

.numbers-display {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 4rem;
  height: 4rem;
  background-color: gold;
  display: flex;
  place-content: center;
  font-size: 3rem;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade {
  opacity: 0;
}

#welcome-text {
  display: none;
  font-size: 3rem;
  color: var(--primary-color);
}

#welcome-text span {
  color: gold;
}

#border {
  border: 1px solid;
  width: 100%;
}

#border-container {
  color: var(--primary-color);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: 80%;
}

/* game-input-container */

#input-container {
  position: relative;
  display: grid;
  place-items: center;
}

#name-input {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

#name-input button {
  background-color: transparent;
  width: fit-content;
  border: none;
  cursor: pointer;
}

#name-input button:hover svg path {
  stroke: gold;
  transition: stroke 0.15s linear;
}

#game-input {
  display: none;
  transition: display 0.5s ease-in;
}

.error-msg {
  display: none;
  position: absolute;
  bottom: -30px;
  left: 80px;
  color: red;
  font-size: 1.2rem;
}

.game-end-msg {
  color: var(--primary-color);
  font-size: 4rem;
}

.game-end-msg span {
  color: red;
}

#game-btns-container {
  display: none;
  gap: 1rem;
  padding: 1rem 0;
}

button {
  padding: 10px 15px;
  width: 100%;
}

.gradient-button {
  font-family: "Passero One", sans-serif;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 2rem;
  background-image: linear-gradient(to bottom, #4ec8e5, #142d43);
}

.gradient-button:hover {
  box-shadow: 0 0 10px 5px gold;
}

input {
  border: 1px transparent;
  border-radius: 10px;
  font-size: 2rem;
  width: 100%;
  padding: 5px;
}

/* -------------- */

@media screen and (max-width: 767px) {
  ol {
    flex-direction: column;
    justify-content: flex-start;
  }
}
